
body {
    font-family: 'Roboto', sans-serif;
    color:rgb(29,29,31);
    font-size: 12px;
    padding:0px;
    margin:0px;
}

#nuevo {
    color: red;
}

h1 {
    font-size: 58px;
    margin: 5px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 31px;
}

h4 {
    font-size: 24px;
    margin:2px;
}


a {
    text-decoration: none;
    color: rgb(0, 113, 227);
}

p {
    color:rgb(29,29,31);
    font-size: 14px;
}





.box-centered {
    margin: 0 auto; /* Propiedad margin con los valores 0 vertical y auto horizontal */
    width: 100%;
    text-align: center;
    display: 800px;
    padding-top: 30px;
    margin-bottom: 20px; 
    float: left;


}


.box-principal {
    margin: 0 auto; /* Propiedad margin con los valores 0 vertical y auto horizontal */
    width: 900px;
    text-align: center;
    padding-top: 110px;

}



.img_responsive {
    width: 100%;
}

.bloque {

    background-color: rgb(242, 242, 242);
    margin: 0 10px; 
    display: inline-block;
    width: 325px;
    text-align: center;
    height: 570px;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    
}

.bloque-img {

    display: inline-block;
    width: 100%;
    
}

.bloque-img2 {
    padding-top: 80px;
    width :900px;
    height: 240px;
    margin: 0px auto;
}



.bloque-texto {

    display: inline-block;
    padding: 20px;
    
    
}


.button {
    background-color: rgb(0, 113, 227);
    border-radius: 50px;
    color: white;
    padding: 5px 20px;
    border:none;    
}


.img-box {
    width: 60px;
    height: 60px;
}





#navbar {
    width: 100%;
    float: left;
    height: 100;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  


  #navbar p {
    width: 100%;
  }
  
  #navbar ul {
    width: 100%;
    text-align: center;
  }
  
  #navbar li {
    display: inline;
    list-style-type: none;
    line-height: 44px;
  }
  
  #navbar li a {
    color: white;
    text-decoration: none;
    margin: 0 40px;

    
  }
  
  #navbar li a:visited {
    text-decoration: none
  }
  




#footer {
    width: 100%;
    float: left;
    height: 98px;
    background: url(images/footer_bg.jpg) top left no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #574621;
    background-color:rgb(245, 245, 247);
    color: rgb(81, 81, 84);

  }
  

  #footer p {
    width: 100%;
    
  }
  
  #footer ul {
    width: 100%;
    text-align: center;
  }
  
  #footer li {
    display: inline;
    list-style-type: none;
    line-height: 44px;
  }
  
  #footer li a {
    color: #574621;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
  }
  
  #footer li a:visited {
    text-decoration: none
  }
  
  
  







